/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main Styles */
body {
    background-color: #F2F2F2;
    font-family: 'Nunito', sans-serif;

}

header {
    text-align: center;
    padding: 20px 180px 20px 180px;
    background-color: blueviolet;
    font-family: 'Josefin Sans';
    font-size: 1.5rem;
    color: white;
    text-shadow: -1px 3px 4px rgba(0,0,0,0.45);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

main {
    display: grid;
    grid-template-columns: 80% 1fr;

}

section {
    display: flex;
    justify-content: center;
    margin-top: 90px;
}

aside {
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    position: fixed;
    right: 0;
    margin-right: 90px;
}

/* Classes */
.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 50px;
    column-gap: 120px;
    padding: 20px;
}

.card {
    height: 455px;
    width: 260px;
    display: block;
    background-color: white;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card img {
    transition: transform 0.3s ease;
    width: 100%;
    height: auto;
}
 
.card:hover img {
    transform: scale(1.05);
}

.description {
    text-align: left;
    padding-top: 20px;
    line-height: 1.4;
}

.description p {
    padding-top: 15px;
    padding-bottom: 30px;
    padding-right: 10px;
    height: 80px;
}

.description h2 {
    color: blueviolet;
    text-align: right;
    margin-top: 5px;
    padding-right: 10px;
}

.card:hover {
    background-color: rgba(137, 43, 226, 0.18);
}

.checkout {
    background-color: white;
    color: blueviolet;
    height: 70px;
    width: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
}

/* ID's */
#itemList {
    background-color: white;
    color: blueviolet;
    height: 500px;
    width: 450px;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
    border-radius: 10px;
    margin-top: 20px;
    overflow: auto;
}

#itemList label {
    font-size: 1.5rem;
    font-weight: 600;
}

/* Empty cart Style */
#empty-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 100%;
    
    
}

#empty-cart p {
    margin-top: 25px;
    color: #aaaaaa93;
    font-family: 'Josefin Sans';
    font-weight: 600;
}

/* Item cart style */
#itemsContainer {
    display: flex;
    align-items: center;
    height: 70px;
    margin: 20px;
    background-color: rgba(243, 243, 243, 0.437);
    border-radius: 5px;
}

#itemsContainer p {
    width: 200px;
    font-size: 0.8rem;
    padding-left: 20px;

}

#itemsContainer h2 {
    margin-left: 30px;
    font-size: 1.2rem;
}

#itemsContainer i {
    padding: 15px;
}

#itemsContainer i:hover {
    cursor: pointer;
}



